<div style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center">

<h1 style="font-family: Arial">New employee</h1>

<%= render "form", employee: @employee %>

<br>

<div style="background-color: #00AEC0; width: 150px; padding: 15px; border-radius: 15px;">
  <%= link_to "Back to employees", employees_path , style:'color: #fff; text-decoration: none; justify-content: center; align-items: center; display: flex; font-size: 17px; font-family: Arial'%>
</div>

</div>