<div style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center">

  <h1 style="font-family: Arial">Editing task</h1>

  <%= render "form", task: @task %>

  <br>

  <div style="display: flex">
    <p style="margin-left: 20px; background-color: #2CEC02; width: 150px; padding: 15px; border-radius: 15px;">
      <%= link_to "Show this task", @task, style:'color: #fff; text-decoration: none; justify-content: center; align-items: center; display: flex; font-size: 16px; font-family: Arial'%>
    </p>
    <p style="margin-left: 20px; background-color: #00AEC0; width: 150px; padding: 15px; border-radius: 15px;">
      <%= link_to "Back to tasks", tasks_path, style:'color: #fff; text-decoration: none; justify-content: center; align-items: center; display: flex; font-size: 16px; font-family: Arial' %>
    </p>
  </div>
</div>
